<div class="container mt-4">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="name" [(ngModel)]="name">
      <input type="text" class="form-control" placeholder="content" [(ngModel)]="content">
      <button class="btn btn-danger" (click)="addTodo()">add</button>
    </div>
  
    <div class="d-flex justify-content-between">
      <div class="card bg-light w-25 p-2">
        <h5 class="text-center">Waiting</h5>
        <ul class="list-group">
          @for (todo of waitingTodos(); track $index){
          <li class="list-group-item">
            {{ todo.name }} - {{ todo.content }}
            <button class="btn btn-warning btn-sm float-end" (click)="changeStatus(todo, 'in-progress')">In Progress</button>
          </li>}
          @empty {
            <li class="list-group-item">No waiting todos</li>
          }
        </ul>
      </div>
  
      <div class="card bg-warning w-25 p-2 mx-2">
        <h5 class="text-center">In Progress Todos</h5>
        <ul class="list-group">
          @for (todo of inProgressTodos(); track $index){
            <li class="list-group-item">
              {{ todo.name }} - {{ todo.content }}
              <button class="btn btn-success btn-sm float-end" (click)="changeStatus(todo, 'done')">Done</button>
          </li>}
          @empty {
            <li class="list-group-item">No todos in progress</li>
          }
        </ul>
      </div>
  
      <div class="card bg-success w-25 p-2">
        <h5 class="text-center">Done Todos</h5>
        <ul class="list-group">
          @for (todo of doneTodos();track $index){
          <li class="list-group-item">
            {{ todo.name }} - {{ todo.content }}
          </li>
          <button class="btn btn-danger btn-sm float-end" (click)="deleteTodo(todo)">Delete</button>}
          @empty {
            <li class="list-group-item">No done todos</li>
          }
        </ul>
      </div>
    </div>
  </div>
  